body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    margin: 0;
    justify-content: space-between;
    background-color: rgb(200,200,200);
}

.end {
    text-align: center;
}

footer {
    display: flex;
    justify-content: space-between;
}
.left {
    display: flex;
    justify-content: flex-start;
    font-size: 10px;
}
.back {
    text-decoration: none;
}
.Bottom {
    margin-right: 10px;
    font-size: 10px;
    display: flex;
    justify-content: flex-end;
}
.next {
    text-decoration: none;
}