html {
    scroll-behavior: smooth;
}

#container {
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    background-color: beige;
    height: 100vh;
}

.item{
    border: 1px solid black;
    justify-content: center;
    align-items: center;;
}

.selfIntro {
    background-color: #dcdcdc;
    order: initial;    
    width: 500px;
    height: 500px;
    margin: 10px;
    padding: 10px;
}

.language{
    background-color: #dcdcdc;
    width: 200px;
    height: 200px;

    margin: 10px;
    padding: 10px;
}