* {box-sizing: border-box;}

.back{
  display: flex;
  flex-wrap: wrap; /*부모 요소보다 자식이 클 때 조절*/
  width: 800px;
  height: 800px;
}

.box{
  width: 400px;
  height: 400px;
  display: flex;
  align-items: center;  /*수직 방향 정렬, 자식 요소들을 세로 방향 중앙*/
  justify-content: center; /*수평 방향 정렬, 자식 요소들을 가로 방향 중앙*/
}

.box13 {background-color: lightgray;}
.box24 {background-color: rgb(134, 134, 134);}

.box2top{background-color: black; width: 350px; height: 180px;}
.box2bottom{ background-color: rgb(155, 190, 226); width: 350px; height: 180px;}

.oblongred{width: 50px; height: 25px; background-color: red;}
.oblongorange{width: 50px; height: 50px; background-color: orange;}
.oblongyellow{width: 50px; height: 75px; background-color: yellow;}
.oblonggreen{width: 50px; height: 100px; background-color: green;}
.oblongblue{width: 50px; height: 75px; background-color: blue;}
.oblongpurple{width: 50px; height: 50px; background-color: purple;}
.oblongblack{width: 50px; height: 25px; background-color: black;}

.red {position: absolute; border-radius: 50%; width: 40px;  height: 40px; background-color: red;}
.orange {position: absolute; border-radius: 50%; width: 80px;  height: 80px; background-color: orange;}
.yellow {position: absolute; border-radius: 50%; width: 120px; height: 120px; background-color: yellow;}
.green{position: absolute; border-radius: 50%; width: 160px; height: 160px; background-color: green;}
.blue{position: absolute; border-radius: 50%; width: 200px; height: 200px; background-color: blue;}
.purple{position: absolute; border-radius: 50%; width: 240px; height: 240px; background-color: purple;}
.black{position: absolute; border-radius: 50%; width: 280px; height: 280px; background-color: black;}

.salmonbox{width: 350px; height: 50px; margin: 5px; background-color: salmon;}
.bluebox{width: 350px; height: 25px; margin: 5px; background-color: rgb(122, 122, 213);}
.toumei{width: 350px; height: 200px; margin: 5px;}
.pistachio{width: 70px; height: 200px; margin-right: 10px; background-color: rgb(132, 196, 166);}
.skyblue{width: 270px; height: 200px; align-items: center;  justify-content: center; background-color: skyblue;}
.skybox{width: 230px; height: 120px; align-items: center;  justify-content: center; margin-bottom: 10px; background-color: rgb(114, 153, 208);}
.navy{width: 230px; height: 30px; background-color: navy;}
.deepyellow{width: 200px; height: 30px; margin-top:20px; margin-bottom: 7px; background-color: rgb(208, 197, 76);}
.yellowbox{width: 200px; height: 30px; background-color: rgb(255, 217, 0);}
.greenyellow{width: 350px; height: 50px; margin: 5px; background-color: rgb(162, 203, 99);}

.left {
  display: flex;
  flex-direction: column; /*밑으로 정렬*/
  justify-content: space-between; /*콘텐츠 항목 사이와 주위 공간 분배, 사이에 균일한 간격 만들어줌*/
  position: relative; 
  padding-bottom: 300px;
  padding-right: 300px;
}

.middle {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /*상대위치, 지금 위치에서 공간 주기, 자식들이 middle를 기준으로 움직여야해서 부모에 이걸 넣어둠 */
}

.col{
  display: flex;
  flex-direction: column;
}

.row{
  display: flex;
  flex-direction: row;
}

.rowwrap{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
}