*{
    box-sizing: border-box;
    /*box-sizing: border-box → width와 height에 padding과 border 포함됨 
    → 너비·높이를 유지하면서 안쪽 여백만 생기는 효과를 얻을 수 있다고 gpt씨의 도움이*/
}
.quater{
    width: 600px;
    height: 650px;
    padding: 20px;
}
.row{
    flex-direction: row;
    display: flex;
}
/*2사분면*/
.first{
    background-color: darkgray;
}
.back{
    flex-direction: row;
    display: flex;
}
.blackbox{
    background-color: black;
    width: 100%;
    height: 50%;
}
.bluebox{
    background-color: skyblue;
    width: 100%;
    height: 50%;
    align-items: flex-end;
}
.box {
    flex: 1;
}
.red{
    background-color: red;
}
.orange{
    background-color: orange;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.darkblue{
    background-color: darkblue;
}
.black{
    background-color: black;
}
.h30{
    height: 50px;
}
.h45{
    height: 70px;
}
.h60{
    height: 90px;
}
.h75{
    height: 110px;
}
/*3사분면*/
.third{
    background-color: lightgrey;
}
.one{
    margin-bottom: 15px;
}
.tall{
    width: 100%;
    height: 80px;
    background-color: coral;
    margin-bottom: 15px;
}
.short{
    width: 100%;
    height: 50px;
    background-color: cornflowerblue;
}
.two{
    flex-direction: row;
    display: flex;
    margin-bottom: 15px;
}
.left{
    background-color: darkseagreen;
    width: 20%;
    height: 360px;
    margin-right: 15px;
}
.right{
    background-color: skyblue;
    width: 80%;
    height: 360px;
    padding: 30px;
}
.three{
    width: 100%;
    height: 75px;
    background-color: yellowgreen;
}
.inside1{
    background-color: cornflowerblue;
    width: 100%;
    height: 230px;
    padding: 20px;
}
.dyellow{
    background-color: goldenrod;
    width: 100%;
    height: 65px;
    margin-top: 40px;
}
.byellow{
    background-color: gold;
    width: 100%;
    height: 65px;
    margin-top: 20px;
}
.inside2{
    background-color: darkblue;
    width: 100%;
    height: 50px;
    margin-top: 25px;
}
/*1사분면, 4사분면*/
.second{
    background-color: lightgray;
}
.fourth{
    background-color: darkgray;
}
.second, .fourth, .last{
    justify-content: center;
    align-items: center;
    display: flex;
}
.round{
    border-radius: 50%;
}
.s1{
    width: 500px;
    height: 500px;
}
.s2{
    width: 430px;
    height: 430px;
}
.s3{
    width: 360px;
    height: 360px;
}
.s4{
    width: 280px;
    height: 280px;
}
.s5{
    width: 200px;
    height: 200px;
}
.s6{
    width: 130px;
    height: 130px;
}
.s7{
    width: 80px;
    height: 80px;
}