#background {
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 100%;
    width: 100%;
}

.navContainer{
    display: flex;
    flex-direction: row;
}

.icon{
    padding-left: 5px;
    width: 100px;
    height: 100px;
}