*{
    box-sizing: border-box;
}
#container{
    display: flex;
    flex-direction: row;
}
section{
    display: flex;
    flex-direction: column;
}
.box{
    width: 100px;
    height: 75px;
    margin: 10px;
    margin-left: 25px;
    background-color: cornflowerblue;
}
.first{
    margin-top: 15px;
}
.second{
    margin-top: 20px;
    margin-bottom: 15px;
}
.third{
    margin-top: 10px;
}
.left{
    margin-left: 5px;
    margin-bottom: 0;
}
.right{
    margin-top: 0;
    margin-left: 100px;
}
.big{
    width: 500px;
    height: 500px;
    background-color: aqua;
}