.icon{
    background-color: bisque;
    width : 200px;
    height : 100px;

    margin-left : 50px;
    margin-bottom : 20px;
    
}

.icon2{
    background-color: bisque;
    width : 200px;
    height : 100px;

    margin-left : 10px;
    margin-top : 40px;
    margin-bottom : 20px;
}

.icon3{
    background-color: bisque;
    width : 200px;
    height : 100px;

    margin-left : 300px;
    margin-bottom : 20px;
}

